/*     font-family: 'Lato', sans-serif;

    font-family: 'Playfair Display', serif;

    font-family: 'Poppins', sans-serif;

    font-family: 'Roboto', sans-serif;
 */

* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    background-image: url(https://source.unsplash.com/1600x900/?landscape);
    font-family: "Poppins", sans-serif;
}

body {
    margin: 2rem;
    border-radius: 10px;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

#clock {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

#loaderBound {
    max-width: 80%;
    min-width: 30%;
    border-radius: 1rem;

}

#clockDisplay {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1%;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.37);
    backdrop-filter: blur(10px);
    max-width: 100%;
    padding: 5%;

}

#timeContainer {
    color: white;
    font-size: 4rem;
    font-weight: 100;
    border-radius: 10px;
    background: #2e343600;
    box-shadow: inset 20px 20px 60px #272c2e70,
        inset -20px -20px 60px #353c3e;
    width: 100%;
    text-align: center;
}

#dateContainer {
    color: white;
    font-size: 1.4rem;
    font-weight: 200;
    border-radius: 10px;
    background: #2e343600;
    box-shadow: inset 20px 20px 60px #272c2e71,
        inset -20px -20px 60px #353c3e00;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-top: 2%;
}